.input {
  label {
    width: 100%;
    text-align: start;
  }
  .passwordInput {
    position: relative;
    display: flex;
    align-items: center;
    .passwordEye {
      position: absolute;
      right: 10px;
      cursor: pointer;
      color: #666;
    }
  }
}
