.button {
  flex: 1;
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #0056b3;
  }
  &:disabled {
    background-color: #ccc !important;
    color: #666 !important;
    cursor: not-allowed;
  }

  &.blue {
    background-color: #007bff;
    color: white;

    &:hover {
      background-color: #0056b3;
    }
  }

  &.green {
    background-color: #28a745;
    color: white;

    &:hover {
      background-color: #218838;
    }
  }

  &.red {
    background-color: #a72831;
    color: white;

    &:hover {
      background-color: rgb(136, 33, 66);
    }
  }

  &.transparent {
    background-color: transparent;
    color: white;

    &:hover {
      background-color: transparent;
      opacity: 0.75;
    }
  }
}
